<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Dashbord</title>
</head>
<body>
	<section>
		<div class="card mr-5 ml-5">
			<div class="card-body">
				<h1 class="text-center">Add Job Post & Earn Money</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form th:object="${contact}" enctype="multipart/form-data"
								method="POST" th:action="@{/user/process-contact}" class="mt-2">


								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-building"></i>
										</div>
									</div>
									<input required type="text" id="firstname" name="company"
										placeholder="Enter Company Name" class="form-control" />
								</div>


								<!-- Second Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
									<input required type="text" id="secondname" name="position"
										placeholder="Enter Job Role" class="form-control" />
								</div>


								<!-- Phone  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-map-marker"></i>
										</div>
									</div>
									<input required type="text" id="phone" name="location"
										placeholder="Enter Job Location" class="form-control" />
								</div>


								<!-- Email  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-calendar"></i>
										</div>
									</div>
									<input required type="number" id="email" name="experience"
										placeholder="Enter Experince" class="form-control" />
								</div>


								<!-- Work Space  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-external-link-alt"></i>
										</div>
									</div>
									<input required type="text" id="work" name="link"
										placeholder="Enter the job link (Career page / Referal link)"
										class="form-control" />
								</div>


								<!-- Contact description -->
								<div class="form-group mt-3">
									<textarea id="editor" name="description"
										class="form-control" cols="15" rows="20"
										placeholder="Enter Job description here"></textarea>
								</div>


								<!-- Contact Image -->
								<div class="custom-file">
									<label for="imageFile">Logo of company:</label> 
									<br />
									<input type="file" id="imageFile" name="imageFile" accept="image/*" />
								</div>





								<!-- Submit button -->
								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Submit Job Post</button>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>


		<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>


		<script type="text/javascript">
         $(document).ready(()=>{
            $(".item").removeClass("active");
            $("#add-link").addClass("active");
         });
        </script>

	</section>
</body>
</html>