<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Normal/base::layout(~{::section})">

<head>
    <meta charset="UTF-8" />
    <title>Donation</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            font-family: sans-serif;
        }

      
    </style>
</head>

<body>
    <section>
        <div class="Section_top">
            <div class="speech">
                <p>
                    <h1>Be a <span>beacon of <span id="span">hope</span></span></h1>
                </p>
                <p><b>Your contribution today has the power to nourish hungry children and uplift the lives of orphaned souls. Join us in our battle against hunger and create a lasting impact. Together, let's nourish dreams and fill hearts with joy.</b></p>
                <button class="donate-btn" onclick="openDonationPopup()"><strong>DONATE</strong></button>
            </div>
            <div class="donate-popup" id="donatePopup">
                <h2>Enter Donation Amount</h2>
                <input type="number" id="donationAmount" placeholder="Enter amount" />
                <button onclick="paymentstart()">PAY</button>
                <button onclick="closeDonationPopup()">CANCEL</button>
            </div>
            <div class="overlay" id="overlay" onclick="closeDonationPopup()"></div>
            
        </div>
    </section>
</body>

</html>
