<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="card mr-5 ml-5 th:if="${contact}"">
			<div class="card-body">
				<h1 class="text-center">Update Job Profile</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form th:object="${contact}" enctype="multipart/form-data"
								method="POST" th:action="@{/user/process-update}" class="mt-2">
                             
                             <!-- Hidden form field -->
                             <input type="hidden" th:value="${contact.cid}" name=cid />

								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-building"></i>
										</div>
									</div>
									<input th:value="${contact.company}" required type="text" id="firstname" name="company"
										placeholder="Enter Company name" class="form-control" />
								</div>


								<!-- Second Name -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
									<input th:value="${contact.position}" required type="text" id="secondname" name="position"
										placeholder="Enter Position" class="form-control" />
								</div>


								<!-- Phone  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-map-marker"></i>
										</div>
									</div>
									<input th:value="${contact.location}" required type="text" id="phone" name="location"
										placeholder="Enter Job Location" class="form-control" />
								</div>


								<!-- Email  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text"><i class="fas fa-calendar"></i></div>
									</div>
									<input th:value="${contact.experience}" required type="number" id="email" name="experience"
										placeholder="Enter experience " class="form-control" />
								</div>


								<!-- Work Space  -->
								<div class="input-group mt-3">
									<div class="input-group-prepend" style="width: 50px;">
										<!-- Adjust the width as needed -->
										<div class="input-group-text">
											<i class="fas fa-external-link-alt"></i>
										</div>
									</div>
									<input th:value="${contact.link}" required type="text" id="work" name="link"
										placeholder="Enter Job Link" class="form-control" />
								</div>


								<!-- Contact description -->
								<div class="form-group mt-3">
									<textarea th:utext="${contact.description}" id="editor" name="description"
										class="form-control" cols="10" rows="2"
										placeholder="Enter Job Description"></textarea>
								</div>


								<!-- Contact Image -->
								<div class="container text-center">
								  <img style="width: 250px; height: 250px;" class="img-fluid my_profile_picture" src="" th:src="@{'/image/'+${contact.image}}" alt="" />
								</div>
								
								<p class="text-secondary">Upload Company Profile Pic</p>
								<div class="custom-file">
									<input type="file" name="imageFile" accept="image/*" />

								</div>




								<!-- Submit button -->
								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Save
										Job Post</button>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>


		<script>
         ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
     </script>
        
        <div class="container">
			  <h1 class="text-center p-3 bg-danger text-white" th:unless="${contact}">OOPS!!!...You don't have permission to view this contact</h1>
			</div>

	</section>
</body>
</html>